[Unit]
Description=Jenkins CI
After=network.target

[Service]
User=jenkins
Group=jenkins
Environment=HOME=/var/lib/jenkins
Environment=JENKINS_HOME=/var/lib/jenkins
WorkingDirectory=/var/lib/jenkins
ExecStart=/usr/bin/java -jar /opt/jenkins/jenkins.war

[Install]
WantedBy=multi-user.target
