[Unit]
Description=Gogs - Go Git Service
After=network.target

[Service]
User=git
Group=git
Environment=HOME=/home/git
WorkingDirectory=/opt/gogs
ExecStart=/opt/gogs/gogs web

[Install]
WantedBy=multi-user.target
